@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #F1F1F1;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Add animation to the left-corner-image */
.left-corner-image {
    display: block;
    margin: 0 auto;
    top: 0;
    width: 150px;
    height: 70px;
    z-index: 9999;
    position: fixed;
    animation: scrollLogo 10s linear infinite;
}

@keyframes scrollLogo {
    0% {
        left: -150px;
    }
    100% {
        left: calc(100% + 150px);
    }
}

/* CHATBOX */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 600px;
    height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: -123456;
    position: fixed;
    bottom: 45px;
    right: 30px;
    top: auto;
}

/* CONTENT IS OPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.chatbox__button button i {
    font-size: 40px;
}

.send__button {
    padding: 12px 24px;
    background: #007bff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.button-container {
    text-align: center;
    margin-bottom: 10px;
}

/* Style for the buttons */
.button-container button {
    background-color: #5698ce;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 2px;
}

/* Style for the buttons on hover */
.button-container button:hover {
    background-color: #5a5d7e;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: #007bff;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatbox__heading--header {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.chatbox__description--header {
    font-size: 1rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

/* MESSAGES */


.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    font-family: 'Open Sans';
    background: #fff;
}

.messages__item {
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: #fff;
    padding: 12px 16px;
    width: fit-content;
    max-width: 80%; /* Limit the maximum width of messages */
    border-radius: 20px;
    animation: fadeIn 0.5s ease; /* Add animation for message appearance */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.messages__item--operator {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    color: #333;
    padding: 12px 16px;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    align-self: flex-end;
}

.messages__item--visitor {
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: #fff;
    padding: 12px 16px;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    align-self: flex-start;
}

/* FOOTER */
/* Send button icon */
.chatbox__send--footer i {
    margin-right: 5px; /* Adjust spacing between icon and text */
}

/* Input icon (optional) */
.chatbox__footer i {
    margin-right: 10px; /* Adjust spacing between icon and input */
}
.chatbox__footer {
   
    border: none;
    padding: 10px 15px;
    
    text-align: left;
    background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);
    color: #333;
    
}

.chatbox__footer input {
    width: 70%;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    text-align: left;
    background: #ffffff;
    color: #000;
}

.chatbox__send--footer {
    padding: 12px 16px;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: #4c5d7f;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    position: absolute;
    right: 50px; /* Adjust the right position */
    bottom: 10px; /* Adjust the bottom position */
}

/* Add hover effect to send button */
.chatbox__send--footer:hover {
    background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
    color: #999393;
}
