!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <div id="link-g1" data-link="https://www.lamar.edu/">Lamar University Website</div>
    <div id="link-g2" data-link="https://www.lamar.edu/library/index.html">library</div>
    <div id="link-g3" data-link="https://www.lamar.edu/events/academic-calendar-listing.html">Calendar</div>
    <div id="link-g4" data-link="https://luonline.blackboard.com/">Black Board</div>
    <div id="link-g5" data-link="https://www.lamar.edu/financial-aid/scholarships/index.html">Scholarship</div>
    <div id="link-g6" data-link="https://www.lamar.edu/it-services-and-support/index.html">Tech Support</div>
    <div id="link-g7" data-link="https://www.lamar.edu/planning-assessment/assessment/index.html">Course Evaluation</div>
    <div id="link-g8" data-link="https://luhub.lamar.edu/home_login">LU Hub</div>
    <div id="link-g9" data-link="https://www.lamar.edu/students/paying-for-school/tuition-and-fees.html">Cost and Aid</div>
    <div id="link-g10" data-link="https://www.lamar.edu/academics/index.php">Courses</div>
    <div id="link-g11" data-link="https://www.lamar.edu/students/student-engagement/housing-residence-life/index.html">Facilities</div>
    <div id="link-g12" data-link="https://www.lamar.edu/admissions/how-to-apply/freshmen/index.html">Application Process 2</div>
    <div id="link-g13" data-link="https://www.lamar.edu/admissions/contact-us.html">Contact Information</div>
    <div id="link-g14" data-link="https://www.lamar.edu/forms/advancement/secure-online-giving.html">Donate to Campus</div>
    <div id="link-g15" data-link="https://www.lamar.edu/giving/index.html">Donate to Specific Department</div>
    <div id="link-g16" data-link="https://www.applytexas.org/">Application Process1</div>
    <div id="link-g17" data-link="https://degree.lamar.edu/home-formtop/">Online Application Process</div>
    <div id="link-g18" data-link="https://www.lamar.edu/public-art/index.html">Student Life</div>
    <div id="link-g19" data-link="https://www.lamar.edu/students/student-engagement/setzer-student-center/student-organizations/index.html">Club</div>
    <div id="link-g20" data-link="https://www.lamar.edu/admissions/campus-tours/index.html">Places on Campus Student Life</div>
    <div id="link-g21" data-link="https://www.lamar.edu/student-life/index.html">Sports Student Life</div>
    <div id="link-g22" data-link="https://www.lamar.edu/students/student-engagement/housing-residence-life/apply-for-housing.html">Housing</div>
    <div id="link-g23" data-link="https://www.lamar.edu/admissions/how-to-apply/graduate/how-to-apply.html">Graduate Application Process</div>
    <div id="link-g24" data-link="https://www.lamar.edu/admissions/how-to-apply/international/index.html">International Application Process</div>
    <div id="link-g25" data-link="https://www.lamar.edu/admissions/how-to-apply/post-degree/index.html#:~:text=this%20vaccination%20requirement.-,How%20to%20Apply,and%20whether%20credit%20was%20earned.">Post Degree Application Process</div>
    <div id="link-g26" data-link="https://servicedesk@lamar.edu">Service Desk</div>
    
    
</body>
</html>